[Desktop Entry]
Name=IPython Notizblock
Comment=Shell for IPython Notebooks
TryExec=notizblock
Exec=notizblock
Type=Application
Terminal=False
Categories=GNOME;Science;
Icon=accessories-text-editor
X-Desktop-File-Install-Version=0.18